# [作業目標]
- 利用範例的創建方式, 創建一組資料, 並練習如何取出最大值

# [作業重點]
- 練習創立 DataFrame (In[2])
- 如何取出口數最多的國家 (In[3], Out[3])

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [2]:
country = ["Japan","UK","USA","Australia","Korea"]
population = []
for i in range(5):
    number = np.random.randint(1,500000000)
    population.append(number)
    
data_labels = ["Country","Population"]
data_columns = [country,population]

data = list(zip(data_labels,data_columns))
print(data)
data = pd.DataFrame(dict(data))

[('Country', ['Japan', 'UK', 'USA', 'Australia', 'Korea']), ('Population', [136090245, 140730464, 54605138, 396361960, 14103641])]

In [3]:
data

     Country  Population
0      Japan   136090245
1         UK   140730464
2        USA    54605138
3  Australia   396361960
4      Korea    14103641

In [4]:
data.sort_values("Population",ascending = False)

     Country  Population
3  Australia   396361960
1         UK   140730464
0      Japan   136090245
2        USA    54605138
4      Korea    14103641